@charset "UTF-8";
/* reset */
label {margin-bottom: 0;}
a {text-decoration: none !important; color: #000;}
a:hover {color: #000;}
button {border: none; padding: 0; cursor: pointer; background: none;}
button:focus {border: none; outline: none;}
textarea {border: none; outline: none; font-size: 14px;}
.timeline-wrap input[type=text] {border: none; outline: none; font-size: 14px;}

/* material icons */
.material-icons.md-18 {font-size: 18px;}
.material-icons.md-24 {font-size: 24px;}
.material-icons.md-36 {font-size: 36px;}
.material-icons.md-48 {font-size: 48px;}

/* colors */
.c-red {color: firebrick;}
.c-gray {color: gray;}

/* common */
.btn-upload {color: lightseagreen; font-size: 14px;}
.btn-img-upload {max-height: 24px;}
.btn-clear {max-height: 18px;}

/* header */
#header {z-index: 100; width: 100%; position: fixed; top: 0; left: 0; height: 80px; padding: 0 20px; background: #fff; border-bottom: 1px solid #eee;}
#header h1 {margin-bottom: 0; font-size: 35px;}
#header .util-box .user-info > img {min-width: 25px; max-width: 25px; min-height: 25px; border-radius: 50%; object-fit: cover;}
#header .util-box .greeting {color: #666;}
#header .util-box .greeting .user-name {font-weight: 500; color: #000;}
#header .util-box .btn-mypage {font-size: 14px;}
#header .util-box .btn-mypage:hover {text-decoration: underline !important;}
#header .util-box .btn-sign-out {font-size: 14px;}
#header .util-box .btn-sign-out:hover {text-decoration: underline !important;}

/* contents */
#contents {max-width: 1100px; margin: 0 auto; padding: 140px 0 60px;}
.form-outer {margin: 0 auto;}
.form-outer button, .form-outer a {display: block; width: 100%;}
.form-box .noti {font-size: 12px; margin-left: 120px;}
.form-group label {min-width: 120px; font-weight: 700; color: #666;}

.add-post-area {margin: 0 auto; padding: 0 !important;}
.add-post-area .add-post-inner {border: 1px solid #ddd;}
.add-post-area textarea {width: 100%; height: 90px;}
.add-post-area .util-box {border-top: 1px solid #eee;}
.add-post-area .util-box input[type=file] {font-size: 14px;}
.add-post-area .util-box .file-upload .file-name {font-size: 13px; color: #666;}

.post-list-area {margin: 0 auto; padding: 0 !important; border: 1px solid #ddd;}

.post-list-area .util-box .user-info > img {min-width: 25px; max-width: 25px; min-height: 25px; border-radius: 50%; object-fit: cover;}
.post-list-area .util-box .user-info .userid {font-size: 14px;}

.post-list-area .image-box {width: 100%;}
.post-list-area .image-box img {min-width: 100%; max-width: 100%; object-fit: cover;}

.post-list-area .like-box {max-height: 24px;}
.post-list-area .like-box .like-count {line-height: 24px; font-size: 14px; font-weight: 500; color: #666;}

.post-list-area .content-box {font-size: 14px;}
.post-list-area .content-box .post-content .user-name {width: 15%;}
.post-list-area .content-box .content {width: 85%;}

.post-list-area .comment-box {font-size: 14px; border-top: 1px solid #eee;}
.post-list-area .comment-box-title {font-size: 13px; color: #888;}
.post-list-area .comment-box .comment-content .user-name {width: 15%; font-weight: 500;}
.post-list-area .comment-box .content {width: 85%;}

.post-list-area .comment-input-box {width: 100%; border-top: 1px solid #ddd;}
.post-list-area .comment-input-box .btn-upload {min-width: 10%;}